
 body
 {
   font-family: cursive;
      background-image: url('https://i.insider.com/5a6a61297101ad62f51c2a88?width=600&format=jpeg&auto=webp');
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size: cover;
 }
 
 h1
 {
       text-align: center;
       color:burlywood;
       font-family: cursive;
       
    }
 
 form {
   font-family: cursive;
 }
          
 
      
 

 
  


 
  

